<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAASMc52Bb8LZkMbpedEthCX8EYqxniofY</string>
	<key>GCM_SENDER_ID</key>
	<string>331776982510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>insus.Medlandia</string>
	<key>PROJECT_ID</key>
	<string>medlandia-bd805</string>
	<key>STORAGE_BUCKET</key>
	<string>medlandia-bd805.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331776982510:ios:1a0aafb66a254aeaf262ff</string>
</dict>
</plist>